body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    width:150px;
    height:25px;
    border-radius: 15px;
    padding: 10px 15px;
    text-align: center;
	background-color: rgb(45 212 191);
    color: rgb(75 85 99);
}

.btn:hover{
    color: #fff;
}